
:root{
    --dark-purple-color: #fff;
    --light-purple-color: #8854C0;
    --light-color: #fff;
    --dark-color: #000;
    --grey-color: #f2f2f2;
    --transition: all 300ms ease-in-out;
}
body{
    height: 100vh;
    width: 100vw;

    background-image: url("./assets/img/fondoflama-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    color: aliceblue;
    background-color:rgba(0,74,143);    
    /* height: 10vh; */
}
main{
    margin-bottom: 0;
}

img{
    height: 10vh;
}
#UANL{
    font-family: "Times New Roman", serif;
}
/* main{
    height: 83vh;
} */
footer{
    color: aliceblue;
    background-color:rgba(0,74,143);
    height: 7%;
}

.bg-negro-custom{
    background-color: rgba(0, 0, 0, 0.5);
}
.h-75p{
    height: 60vh;
}

.h-85{
    height: 85%;
}
.hide-menu{
    display: none;
}

@media only screen and (max-width: 600px) { 
 
    img{
        height: 5vh;
    } 
   
}
@media only screen and (max-width: 850px) { 
 
    .hide-md{
        display: none;
    }
    .hide-menu{
        display: flex;
    }
}

@media only screen and (max-width: 1300px) { 

     
    img{
        height: 7vh;
    }
     
}






.scrollbar-morpheus-den::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: var(--dark-purple-color);
    border-radius: 10px;
}

.scrollbar-morpheus-den::-webkit-scrollbar {
    width: 12px;
    background-color: var(--dark-purple-color);
}

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(bottom, #004a8f 0%, #004a8f 100%);
}

.scrollbar-morpheus-den {
    scrollbar-color: #F5F5F5;
}


.scrollbar-encuesta-list:-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
}

.scrollbar-encuesta-list::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0,0,0,0);
}

.scrollbar-encuesta-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(bottom, #fff 0%, #fff 100%);
}

.scrollbar-encuesta-list{
    background-color: rgba(0,0,0,0);
}